<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstGame"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".MainMenu"
            android:label="MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Levels"
            android:label="Levels"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Rules"
            android:label="Rules"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Lvl1"
            android:label="Lvl1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Lvl2"
            android:label="Lvl2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Lvl3"
            android:label = "Lvl3"
            android:theme = "@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Lvl4"
            android:label = "Lvl4"
            android:theme = "@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Lvl5"
            android:label = "Lvl5"
            android:theme = "@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>